In [1]:
import pandas as pd

In [30]:
col = [
    'create_sh_ver',
    'step_count',
    'binning_data',
    'active_time',
    'recommendation',
    'modify_sh_ver',
    'run_step_count',
    'update_time',
    'source_package_name',
    'create_time',
    'source_info',
    'speed',
    'distance',
    'calorie',
    'walk_step_count',
    'deviceuuid',
    'pkg_name',
    'healthy_step',
    'achievement',
    'datauuid',
    'day_time',
    ''
]

사용할컬럼 = ['step_count','run_step_count', 'update_time', 'create_time']

df = pd.read_csv('/home/sjt/space/github/data_analysis/data/나의정보/com.samsung.shealth.tracker.pedometer_day_summary.20240711231920.csv', skiprows=2, names=col)
df[사용할컬럼].head()

,step_count,run_step_count,update_time,create_time
0,476,1,2022-09-13 16:11:01.662,2022-09-13 07:33:36.855
1,421,1,2022-09-14 15:09:16.486,2022-09-13 07:33:36.868
2,154,0,2022-09-13 15:23:27.709,2022-09-13 15:23:27.709
3,10723,1059,2022-09-14 13:51:48.207,2022-09-13 15:38:11.200
4,8891,1019,2022-09-14 15:09:15.911,2022-09-14 15:09:15.911

In [31]:
df[df['update_time'] > '2024-07'][사용할컬럼]

,step_count,run_step_count,update_time,create_time
1574,7849,1194,2024-07-01 13:03:33.020,2024-07-01 11:19:47.338
1575,7692,1158,2024-07-01 15:00:02.930,2024-07-01 15:00:02.930
1576,7709,1346,2024-07-01 15:00:04.154,2024-07-01 15:00:04.154
1577,9511,584,2024-07-02 15:10:43.249,2024-07-02 11:26:13.104
1578,9260,402,2024-07-02 15:10:41.277,2024-07-02 15:10:41.277
1579,9383,643,2024-07-02 15:10:42.793,2024-07-02 15:10:42.793
1580,611,8,2024-07-03 15:11:12.823,2024-07-02 16:44:52.267
1581,580,0,2024-07-03 15:00:02.960,2024-07-03 15:00:02.960
1582,8039,1504,2024-07-04 14:08:53.790,2024-07-03 15:43:03.335
1583,7772,1271,2024-07-04 15:30:03.973,2024-07-04 15:30:03.973
1584,503,8,2024-07-04 15:30:06.498,2024-07-04 15:30:06.498
1585,7868,1616,2024-07-04 15:30:06.741,2024-07-04 15:30:06.741
1586,8225,1620,2024-07-05 14:29:28.046,2024-07-05 04:55:01.493
1587,7818,1551,2024-07-05 15:00:01.787,2024-07-05 15:00:01.787
1588,8060,1605,2024-07-05 15:00:03.413,2024-07-05 15:00:03.413
1589,1457,0,2024-07-06 14:32:59.138,2024-07-05 15:11:57.491
1590,1457,0,2024-07-06 15:54:37.602,2024-07-06 15:54:37.602
1591,34,0,2024-07-07 13:32:52.425,2024-07-07 05:49:24.317
1592,34,0,2024-07-07 15:00:04.176,2024-07-07 15:00:04.176
1593,7836,1626,2024-07-08 13:06:40.272,2024-07-08 07:04:47.696
1594,7622,1571,2024-07-08 15:00:03.646,2024-07-08 15:00:03.646
1595,7670,1650,2024-07-08 15:00:06.564,2024-07-08 15:00:06.564
1596,8291,1003,2024-07-09 14:38:31.327,2024-07-09 11:10:58.121
1597,7967,845,2024-07-09 15:00:04.314,2024-07-09 15:00:04.314
1598,8069,1269,2024-07-09 15:00:06.538,2024-07-09 15:00:06.538
1599,30,0,2024-07-10 14:16:14.736,2024-07-10 13:55:10.446
1600,30,0,2024-07-10 15:20:25.799,2024-07-10 15:20:25.799
1601,8137,1450,2024-07-11 12:57:43.966,2024-07-11 11:11:52.032