In [1]:
import os

from collections import Counter

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

font_path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'
fm.fontManager.addfont(font_path)
font_name = fm.FontProperties(fname=font_path).get_name()
plt.rcParams['font.family'] = font_name
plt.rcParams['axes.unicode_minus'] = False

import seaborn as sns

In [2]:
df = pd.read_csv('/home/sjt/space/github/data_analysis/data/상가정보/상가정보_전국.csv')
df

,상호명,상권업종대분류명,시도명,시군구명,도로명주소,경도,위도
0,선해횟집,음식,부산광역시,금정구,부산광역시 금정구 사천로3번길 2,129.113321,35.223363
1,미즈노,소매,부산광역시,해운대구,부산광역시 해운대구 센텀남대로 59,129.131099,35.169873
2,리스트,소매,부산광역시,강서구,부산광역시 강서구 명지국제6로 168,128.918174,35.093125
3,눈썹그리기교실동안눈썹,수리·개인,부산광역시,북구,부산광역시 북구 화명대로 31,129.011641,35.235217
4,안심공인중개사무소,부동산,부산광역시,연제구,부산광역시 연제구 연안로13번길 85,129.102386,35.188814
...,...,...,...,...,...,...,...
2418934,방배동할매쭈꾸미수원화서점,음식,경기도,수원시 팔달구,경기도 수원시 팔달구 동말로25번길 96,126.994937,37.281672
2418935,마상로97-14,소매,경기도,고양시 덕양구,경기도 고양시 덕양구 마상로 97-14,126.834809,37.661734
2418936,블랑,음식,경기도,고양시 일산서구,경기도 고양시 일산서구 현중로26번길 45-15,126.770249,37.694190
2418937,백년교자,음식,경기도,부천시 원미구,경기도 부천시 원미구 석천로177번길 11,126.762047,37.503034
2418938,웅이네,소매,경기도,남양주시,경기도 남양주시 진접읍 해밀예당3로 102,127.197383,37.718838

In [4]:
Counter(df['상권업종대분류명'])

Counter({'음식': 786872,
         '소매': 597768,
         '수리·개인': 286058,
         '과학·기술': 245902,
         '교육': 111975,
         '예술·스포츠': 104155,
         '부동산': 98939,
         '시설관리·임대': 96218,
         '숙박': 63988,
         '보건의료': 27064})

In [11]:
df.groupby(['시도명','상권업종대분류명'])['상호명'].count().unstack()

상권업종대분류명,과학·기술,교육,보건의료,부동산,소매,수리·개인,숙박,시설관리·임대,예술·스포츠,음식
시도명,,,,,,,,,,
강원특별자치도,5287,3188,586,2351,23079,10473,7625,3559,3930,35328
경기도,62086,29105,6391,27159,133364,66517,9287,22786,26305,168387
경상남도,9163,6246,1220,5234,40562,19983,6260,5235,6048,60456
경상북도,7124,4605,824,3846,36348,16540,5647,4585,5269,49543
광주광역시,6761,3345,948,3278,18328,9636,776,2610,3248,21406
대구광역시,9067,5539,1279,4125,29499,14541,911,3644,4729,36616
대전광역시,6303,3151,750,2476,18756,9540,648,2716,3395,22793
부산광역시,12191,6329,2017,5752,37562,18681,2241,5209,5621,51691
서울특별시,87533,26708,7776,24193,101796,47677,6296,21809,18977,132471
세종특별자치시,1245,1181,201,818,2765,1308,99,553,642,4627
울산광역시,3241,2492,459,1811,12262,6781,985,1795,2373,18819
인천광역시,9218,4719,1285,5055,27232,13986,2631,4096,6084,37178
전라남도,5334,2847,680,2058,26807,11314,4488,3595,3520,33133
전북특별자치도,6120,3638,790,2746,27249,11249,2780,3339,3690,28924
제주특별자치도,3699,2298,321,1860,11556,4653,6678,2811,1778,18576
충청남도,6501,3629,811,3621,29167,13027,4361,4396,4731,37698
충청북도,5029,2955,726,2556,21435,10152,2275,3480,3815,29226

In [12]:
df_진주시건물 = pd.read_excel('/home/sjt/space/github/data_analysis/data/건물정보/기본개요 조회.xlsx', skiprows=4, engine='openpyxl')
df_진주시건물

/home/sjt/miniconda3/envs/ai/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,순번,대지위치,시군구코드,법정동코드,대지구분코드,번,지,관리허가대장관리번호,건물명,특수지명,...,세대수,호수,가구수,총주차수,착공예정일,착공연기일,실제착공일,건축허가일,사용승인일,생성일자
0,1,경상남도 진주시 상대동 177-10번지,48170,11900,0,177,10,48170-2921,상대동다가구주택,NaN,...,0,0,11,8,20021218.0,NaN,20021217.0,20021130.0,20030517.0,20090321
1,2,경상남도 진주시 상대동 177-15번지,48170,11900,0,177,15,48170-2798,상대동다가구주택,NaN,...,0,0,6,3,20020906.0,NaN,20020905.0,20020903.0,20030124.0,20090321
2,3,경상남도 진주시 상대동 177-21번지,48170,11900,0,177,21,48170-100021149,상대동 177-21 단독주택 (정춘교),NaN,...,0,0,8,0,20100222.0,NaN,20100222.0,20100211.0,20100811.0,20100812
3,4,경상남도 진주시 상대동 177-23번지,48170,11900,0,177,23,48170-4291,서청근씨건물,NaN,...,0,0,0,0,20030225.0,NaN,20030224.0,20030215.0,20070522.0,20090321
4,5,경상남도 진주시 상대동 177-24번지,48170,11900,0,177,24,48170-3296,1,NaN,...,1,0,1,0,20021015.0,NaN,20021014.0,20021011.0,20021122.0,20090321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154,2155,경상남도 진주시 상대동 산 26-13번지,48170,11900,1,26,13,48170-100056609,상대동 26-13 단독주택 (박기병),NaN,...,0,0,1,0,20141010.0,NaN,20141008.0,20140930.0,20160121.0,20160122
2155,2156,경상남도 진주시 상대동 산 5-1번지,48170,11900,1,5,1,48170-100007736,근린생활시설 (김정웅),NaN,...,0,0,0,0,20090622.0,NaN,20090619.0,20080624.0,NaN,20110524
2156,2157,경상남도 진주시 상대동 산 5-28번지,48170,11900,1,5,28,48170-8962,정점옥씨 건물 신축공사,NaN,...,0,0,2,3,20090718.0,20090723.0,20090720.0,20070723.0,NaN,20120419
2157,2158,경상남도 진주시 상대동 산 51-1번지,48170,11900,1,51,1,48170-100165171,상대동 51-1 가설건축물 (진주시장),NaN,...,0,1,0,0,NaN,NaN,NaN,20220411.0,20220711.0,20230731
2158,2159,경상남도 진주시 상대동 산 8-1번지,48170,11900,1,8,1,48170-100009935,상대동 8-1 단독주택 (유지은),NaN,...,0,0,1,0,20081017.0,NaN,20081017.0,20081010.0,20090923.0,20090926

In [14]:
df_진주시건물.columns

Index(['순번', '대지위치', '시군구코드', '법정동코드', '대지구분코드', '번', '지', '관리허가대장관리번호', '건물명',
       '특수지명', '블록', '로트', '지목명', '용도지역명', '용도지구명', '용도구역명', '지목코드', '용도지역코드',
       '용도지구코드', '용도구역코드', '건축구분코드', '건축구분명', '대지면적', '건축면적', '건폐율', '연면적',
       '용적율산정연면적', '용적률', '주건축물수', '부속건축물동수', '주용도코드', '주용도명', '세대수', '호수',
       '가구수', '총주차수', '착공예정일', '착공연기일', '실제착공일', '건축허가일', '사용승인일', '생성일자'],
      dtype='object')

In [29]:
df_진주시건물.select_dtypes(include='object')

,대지위치,관리허가대장관리번호,건물명,특수지명,블록,지목명,용도지역명,용도지구명,용도구역명,용도지역코드,용도지구코드,용도구역코드,건축구분명,주용도코드,주용도명
0,경상남도 진주시 상대동 177-10번지,48170-2921,상대동다가구주택,NaN,NaN,대,일반주거지역,NaN,NaN,1020,NaN,NaN,신축,01000,단독주택
1,경상남도 진주시 상대동 177-15번지,48170-2798,상대동다가구주택,NaN,NaN,대,일반주거지역,NaN,NaN,1020,NaN,NaN,신축,01000,단독주택
2,경상남도 진주시 상대동 177-21번지,48170-100021149,상대동 177-21 단독주택 (정춘교),NaN,NaN,대,제2종일반주거지역,시가지경관지구,NaN,1022,413,NaN,신축,01000,단독주택
3,경상남도 진주시 상대동 177-23번지,48170-4291,서청근씨건물,NaN,NaN,대,제2종일반주거지역,NaN,NaN,1022,NaN,NaN,신축,04000,제2종근린생활시설
4,경상남도 진주시 상대동 177-24번지,48170-3296,1,NaN,NaN,대,일반주거지역,NaN,NaN,1020,NaN,NaN,증축,01000,단독주택
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154,경상남도 진주시 상대동 산 26-13번지,48170-100056609,상대동 26-13 단독주택 (박기병),NaN,NaN,임야,보전녹지지역,NaN,가축사육제한구역,UQA410,NaN,UMZ100,신축,01000,단독주택
2155,경상남도 진주시 상대동 산 5-1번지,48170-100007736,근린생활시설 (김정웅),NaN,NaN,임야,자연녹지지역,자연경관지구,NaN,1330,411,NaN,신축,04000,제2종근린생활시설
2156,경상남도 진주시 상대동 산 5-28번지,48170-8962,정점옥씨 건물 신축공사,NaN,NaN,임야,제2종일반주거지역,주거환경개선지구,NaN,1022,370,NaN,신축,04000,제2종근린생활시설
2157,경상남도 진주시 상대동 산 51-1번지,48170-100165171,상대동 51-1 가설건축물 (진주시장),NaN,NaN,임야,자연녹지지역,NaN,NaN,UQA430,NaN,NaN,가설건축물축조허가,03000,제1종근린생활시설
2158,경상남도 진주시 상대동 산 8-1번지,48170-100009935,상대동 8-1 단독주택 (유지은),NaN,NaN,임야,자연녹지지역,NaN,NaN,1330,NaN,NaN,신축,01000,단독주택

In [28]:
df_진주시건물.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2159 entries, 0 to 2158
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   순번          2159 non-null   int64
 1   대지위치        2159 non-null   object
 2   시군구코드       2159 non-null   int64
 3   법정동코드       2159 non-null   int64
 4   대지구분코드      2159 non-null   int64
 5   번           2159 non-null   int64
 6   지           2159 non-null   int64
 7   관리허가대장관리번호  2159 non-null   object
 8   건물명         1302 non-null   object
 9   특수지명        19 non-null     object
 10  블록          22 non-null     object
 11  로트          22 non-null     float64
 12  지목명         2090 non-null   object
 13  용도지역명       1628 non-null   object
 14  용도지구명       1005 non-null   object
 15  용도구역명       369 non-null    object
 16  지목코드        2090 non-null   float64
 17  용도지역코드      1628 non-null   object
 18  용도지구코드      1005 non-null   object
 19  용도구역코드      369 non-null    object
 20  건축구분코드      1621 non-null   float64
 21  건축구분명       1621 non-null   object
 22  대지면적        2159 non-null   float64
 23  건축면적        2159 non-null   float64
 24  건폐율         2159 non-null   float64
 25  연면적         2159 non-null   float64
 26  용적율산정연면적    2159 non-null   float64
 27  용적률         2159 non-null   float64
 28  주건축물수       2159 non-null   int64
 29  부속건축물동수     2159 non-null   int64
 30  주용도코드       1616 non-null   object
 31  주용도명        1616 non-null   object
 32  세대수         2159 non-null   int64
 33  호수          2159 non-null   int64
 34  가구수         2159 non-null   int64
 35  총주차수        2159 non-null   int64
 36  착공예정일       1282 non-null   float64
 37  착공연기일       66 non-null     float64
 38  실제착공일       1294 non-null   float64
 39  건축허가일       2158 non-null   float64
 40  사용승인일       1400 non-null   float64
 41  생성일자        2159 non-null   int64
dtypes: float64(14), int64(13), object(15)
memory usage: 708.6+ KB

In [16]:
df_진주시상가 = df[df['도로명주소'].str.contains('진주시')]
df_진주시상가

,상호명,상권업종대분류명,시도명,시군구명,도로명주소,경도,위도
389809,성모쑥뜸방,보건의료,경상남도,진주시,경상남도 진주시 진주성로 74-1,128.076649,35.196313
389810,진주기원,예술·스포츠,경상남도,진주시,경상남도 진주시 모덕로 288-1,128.125572,35.188899
389824,삼원용접,수리·개인,경상남도,진주시,경상남도 진주시 도동로 131,128.120566,35.182206
389826,라이,음식,경상남도,진주시,경상남도 진주시 진주대로 548,128.107673,35.155508
389828,머리하는손,수리·개인,경상남도,진주시,경상남도 진주시 동진로216번길 17,128.115092,35.178344
...,...,...,...,...,...,...,...
550094,엔딩요정,과학·기술,경상남도,진주시,경상남도 진주시 창렬로48번길 6-1,128.070771,35.192873
550111,심미안헤어,수리·개인,경상남도,진주시,경상남도 진주시 동진로216번길 17,128.115092,35.178344
550117,더빛나는피부,수리·개인,경상남도,진주시,경상남도 진주시 진양호로97번길 11,128.050276,35.168184
550171,숙성금돈,음식,경상남도,진주시,경상남도 진주시 에나로128번길 18,128.143569,35.176150
550188,대성,소매,경상남도,진주시,경상남도 진주시 하대로 55,128.117639,35.193116

In [26]:
df_진주시상가[df_진주시상가['도로명주소'].str.contains('상대')]

,상호명,상권업종대분류명,시도명,시군구명,도로명주소,경도,위도
390134,초계옥,음식,경상남도,진주시,경상남도 진주시 상대로69번길 11,128.119659,35.185290
390797,붕붕,예술·스포츠,경상남도,진주시,경상남도 진주시 상대로69번길 11,128.119659,35.185290
392137,입술,음식,경상남도,진주시,경상남도 진주시 상대로 19,128.114167,35.184277
394184,진주실용음악학원,교육,경상남도,진주시,경상남도 진주시 상대로 26,128.114870,35.184087
395837,수수공방,음식,경상남도,진주시,경상남도 진주시 상대로 33-1,128.115771,35.184347
...,...,...,...,...,...,...,...
540238,천마솔루션,수리·개인,경상남도,진주시,경상남도 진주시 상대로 31,128.115463,35.184374
541228,오아시스,음식,경상남도,진주시,경상남도 진주시 상대로 33,128.115639,35.184338
547992,피크닉데이,음식,경상남도,진주시,경상남도 진주시 상대로143번길 11-4,128.127203,35.186102
548956,공주PCCD판매장,소매,경상남도,진주시,경상남도 진주시 상대로 14,128.113596,35.184025
549443,에코타워,숙박,경상남도,진주시,경상남도 진주시 상대로 53-4,128.118033,35.184696

In [24]:
df_진주시건물[df_진주시건물['대지위치'].str.contains('상대')]

,순번,대지위치,시군구코드,법정동코드,대지구분코드,번,지,관리허가대장관리번호,건물명,특수지명,...,세대수,호수,가구수,총주차수,착공예정일,착공연기일,실제착공일,건축허가일,사용승인일,생성일자
0,1,경상남도 진주시 상대동 177-10번지,48170,11900,0,177,10,48170-2921,상대동다가구주택,NaN,...,0,0,11,8,20021218.0,NaN,20021217.0,20021130.0,20030517.0,20090321
1,2,경상남도 진주시 상대동 177-15번지,48170,11900,0,177,15,48170-2798,상대동다가구주택,NaN,...,0,0,6,3,20020906.0,NaN,20020905.0,20020903.0,20030124.0,20090321
2,3,경상남도 진주시 상대동 177-21번지,48170,11900,0,177,21,48170-100021149,상대동 177-21 단독주택 (정춘교),NaN,...,0,0,8,0,20100222.0,NaN,20100222.0,20100211.0,20100811.0,20100812
3,4,경상남도 진주시 상대동 177-23번지,48170,11900,0,177,23,48170-4291,서청근씨건물,NaN,...,0,0,0,0,20030225.0,NaN,20030224.0,20030215.0,20070522.0,20090321
4,5,경상남도 진주시 상대동 177-24번지,48170,11900,0,177,24,48170-3296,1,NaN,...,1,0,1,0,20021015.0,NaN,20021014.0,20021011.0,20021122.0,20090321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154,2155,경상남도 진주시 상대동 산 26-13번지,48170,11900,1,26,13,48170-100056609,상대동 26-13 단독주택 (박기병),NaN,...,0,0,1,0,20141010.0,NaN,20141008.0,20140930.0,20160121.0,20160122
2155,2156,경상남도 진주시 상대동 산 5-1번지,48170,11900,1,5,1,48170-100007736,근린생활시설 (김정웅),NaN,...,0,0,0,0,20090622.0,NaN,20090619.0,20080624.0,NaN,20110524
2156,2157,경상남도 진주시 상대동 산 5-28번지,48170,11900,1,5,28,48170-8962,정점옥씨 건물 신축공사,NaN,...,0,0,2,3,20090718.0,20090723.0,20090720.0,20070723.0,NaN,20120419
2157,2158,경상남도 진주시 상대동 산 51-1번지,48170,11900,1,51,1,48170-100165171,상대동 51-1 가설건축물 (진주시장),NaN,...,0,1,0,0,NaN,NaN,NaN,20220411.0,20220711.0,20230731
2158,2159,경상남도 진주시 상대동 산 8-1번지,48170,11900,1,8,1,48170-100009935,상대동 8-1 단독주택 (유지은),NaN,...,0,0,1,0,20081017.0,NaN,20081017.0,20081010.0,20090923.0,20090926

In [17]:
df_진주시건물['대지위치']

,순번,대지위치,시군구코드,법정동코드,대지구분코드,번,지,관리허가대장관리번호,건물명,특수지명,...,세대수,호수,가구수,총주차수,착공예정일,착공연기일,실제착공일,건축허가일,사용승인일,생성일자
0,1,경상남도 진주시 상대동 177-10번지,48170,11900,0,177,10,48170-2921,상대동다가구주택,NaN,...,0,0,11,8,20021218.0,NaN,20021217.0,20021130.0,20030517.0,20090321
1,2,경상남도 진주시 상대동 177-15번지,48170,11900,0,177,15,48170-2798,상대동다가구주택,NaN,...,0,0,6,3,20020906.0,NaN,20020905.0,20020903.0,20030124.0,20090321
2,3,경상남도 진주시 상대동 177-21번지,48170,11900,0,177,21,48170-100021149,상대동 177-21 단독주택 (정춘교),NaN,...,0,0,8,0,20100222.0,NaN,20100222.0,20100211.0,20100811.0,20100812
3,4,경상남도 진주시 상대동 177-23번지,48170,11900,0,177,23,48170-4291,서청근씨건물,NaN,...,0,0,0,0,20030225.0,NaN,20030224.0,20030215.0,20070522.0,20090321
4,5,경상남도 진주시 상대동 177-24번지,48170,11900,0,177,24,48170-3296,1,NaN,...,1,0,1,0,20021015.0,NaN,20021014.0,20021011.0,20021122.0,20090321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154,2155,경상남도 진주시 상대동 산 26-13번지,48170,11900,1,26,13,48170-100056609,상대동 26-13 단독주택 (박기병),NaN,...,0,0,1,0,20141010.0,NaN,20141008.0,20140930.0,20160121.0,20160122
2155,2156,경상남도 진주시 상대동 산 5-1번지,48170,11900,1,5,1,48170-100007736,근린생활시설 (김정웅),NaN,...,0,0,0,0,20090622.0,NaN,20090619.0,20080624.0,NaN,20110524
2156,2157,경상남도 진주시 상대동 산 5-28번지,48170,11900,1,5,28,48170-8962,정점옥씨 건물 신축공사,NaN,...,0,0,2,3,20090718.0,20090723.0,20090720.0,20070723.0,NaN,20120419
2157,2158,경상남도 진주시 상대동 산 51-1번지,48170,11900,1,51,1,48170-100165171,상대동 51-1 가설건축물 (진주시장),NaN,...,0,1,0,0,NaN,NaN,NaN,20220411.0,20220711.0,20230731
2158,2159,경상남도 진주시 상대동 산 8-1번지,48170,11900,1,8,1,48170-100009935,상대동 8-1 단독주택 (유지은),NaN,...,0,0,1,0,20081017.0,NaN,20081017.0,20081010.0,20090923.0,20090926

In [27]:
df_진주시건물.columns

Index(['순번', '대지위치', '시군구코드', '법정동코드', '대지구분코드', '번', '지', '관리허가대장관리번호', '건물명',
       '특수지명', '블록', '로트', '지목명', '용도지역명', '용도지구명', '용도구역명', '지목코드', '용도지역코드',
       '용도지구코드', '용도구역코드', '건축구분코드', '건축구분명', '대지면적', '건축면적', '건폐율', '연면적',
       '용적율산정연면적', '용적률', '주건축물수', '부속건축물동수', '주용도코드', '주용도명', '세대수', '호수',
       '가구수', '총주차수', '착공예정일', '착공연기일', '실제착공일', '건축허가일', '사용승인일', '생성일자'],
      dtype='object')

In [ ]:
# data_path = '/home/sjt/space/github/data_analysis/data/상가정보/소상공인시장진흥공단_상가(상권)정보_20240331' + '/'
# data_pathlist = os.listdir(data_path)
# 
# df_data = pd.concat([pd.read_csv(data_path + i, low_memory=False) for i in data_pathlist if i[-3:] == 'csv'], ignore_index=True)
# df_data.head()

In [2]:
df_주소 = pd.read_csv('/home/sjt/space/github/data_analysis/data/주소/202405_주소DB_전체분/주소_경상남도.txt', sep='|', encoding='cp949')
df_주소

,4812110500104290000000001,481212019001,01,0,314,0.1,51159,Unnamed: 7,Unnamed: 8,Unnamed: 9,0.2
0,4812110500107810001018542,481212019001,1,0,321,0,51159,NaN,NaN,NaN,0
1,4812110500107810001018541,481212019001,1,0,323,0,51159,NaN,NaN,NaN,0
2,4812110500107810001018540,481212019001,1,0,323,1,51159,NaN,NaN,NaN,0
3,4812110500107780001018539,481212019001,1,0,323,2,51159,NaN,NaN,NaN,0
4,4812110500107780006018538,481212019001,1,0,325,0,51159,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
654673,4889034031110270000013551,488904862287,1,0,35,0,50204,NaN,NaN,NaN,0
654674,4889034031110260000013552,488904862287,1,0,35,1,50204,NaN,NaN,NaN,0
654675,4889034031110250000013554,488904862287,1,0,35,3,50204,NaN,NaN,NaN,0
654676,4889034031111000000013537,488904862287,1,0,36,0,50204,NaN,NaN,NaN,0
654677,4889034031110240001013557,488904862287,1,0,37,0,50204,NaN,NaN,NaN,0